body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.logo {
    font-weight: 800;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 120px;
}

.header-links {
    display: flex;
    gap: 15px;
    color: #E5E7EB;
    font-size: 18px;
    margin-right: 120px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 120px;
    margin-bottom: 40px;
}

.hero-text {
    font-size: 48px;
    margin-bottom: 0;
}

.sign-up-button {
    background-color: #3882F6;
    border-color: #3882F6;
    color: #fff;
    width: 100px;
    border-radius: 5px;
}

.hero-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 120px;
    width: 400px;
    height: 200px;
    background-color: gray;
}

.info-title {
    display: flex;
    justify-content: center;
    background-color: #fff;
    font-weight: bolder;
    color: #1F2937;
}

.info-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.info-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    width: 100px;
    height: 100px;
    border: 2px solid blue;
    border-radius: 10%;
}

.box-text {
    font-size: 12px;
    width: 100px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
}

.quote-block {
    width: 600px;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote-author {
    font-weight: 800;
    margin-left: auto;
    margin-right: 200px;
    margin-bottom: 50px;
}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    background-color: #3882F6;
    margin: 125px;
    padding: 50px;
}

.action-call {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
    margin-right: auto;
}

.action {
    display: flex;
    color: #F9FAF8;
    align-items: flex-start;
}

.sign-up-2 {
    background-color: #3882F6;
    border: 1px solid #F9FAF8;
    border-radius: 10%;
    color:#F9FAF8;
    width: 100px;
    height: 30px;
    margin-left: auto;
}
